* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, Roboto, Droid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-size: 1em;
  font-weight: normal;
  border: 0;
  outline: 0 none;
  text-align: center;
}

body {
  background-color: #f0f0f0;
  background-image: url(http://guiaoleowebassets.s3.amazonaws.com/newdixit/pattern.png);
}

ul, li {
  list-style-type: none;
}

a {
  line-height: 0;
  text-decoration: none;
}

span, a {
  font-family: inherit;
}

input, textarea, select {
  border: 1px solid #abaaad;
}

h2, h3, h4, h5 {
  padding: 0;
  font-size: 1.6em;
}

.invisibilita {
  display: none;
}

.oleo {
  color: #85c876;
}

.fwhite {
  color: white;
}

.bgwhite {
  background-color: rgba(255, 255, 255, 0.6);
}

.bguwhite {
  background-color: white;
}

.bgmetal {
  background-color: #282a2b;
}

.bglgray {
  background-color: #ebebeb;
}

.icoral {
  background-color: #d98882;
}

.bg22c {
  background-color: #ba92c3;
}

.bg63u {
  background-color: #6cbaa7;
}

.icenter {
  text-align: center;
}

.rounded {
  border-radius: 4px;
}

.tbold {
  font-weight: bold;
}

.fbig {
  font-size: 24px !important;
}

.fmed {
  font-size: 14px !important;
}

.fnormal {
  font-size: 20px;
}

.fsmall {
  font-size: 13px;
}

.tajust {
  text-align: justify;
}

.taleft {
  text-align: left;
}

.tpads {
  padding: 10px;
}

.nopads {
  padding: 0;
  line-height: 16px;
}

.nopadstb {
  padding: 0 4px;
  line-height: 16px;
}

.tmargs {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fxmed {
  font-size: 100% !important;
  line-height: 24px !important;
  color: white;
  max-width: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.stores a {
  text-align: center;
  display: inline-block;
  width: 38%;
  max-width: 106px;
  margin: 2%;
}
.stores img {
  display: block;
  max-width: 106px;
}

.note.stored {
  display: block;
}
.note.stored .bnnrx {
  width: 280px;
  min-width: 284px;
  max-width: 290px;
  height: 130px;
  display: inline-block;
  border-radius: 4px;
  margin: 4px auto 4px;
  vertical-align: middle;
  overflow: hidden;
}
.note.stored .bnnrx .bnnh {
  overflow: hidden;
  width: 100%;
  display: block;
}
.note.stored .bnnrx .bnnh img {
  display: block;
  width: 100%;
}

.tw {
  color: white;
}

.ifix1, .ifix2, .ifix3 {
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  background-color: #2c2b32;
}
.ifix1 h2, .ifix1 p, .ifix2 h2, .ifix2 p, .ifix3 h2, .ifix3 p {
  padding: 0 10%;
  margin: 5% auto 0;
}

.ifix1 {
  height: 400px;
}

.ifix2 {
  height: 390px;
}
.ifix2 p {
  margin: 0 auto;
}

.addsin {
  display: block;
  width: 100%;
  min-width: 280px;
  margin: 0 0 10px;
  padding: 20px 0 0 !important;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
.addsin .boxit {
  max-width: 190px;
  padding: 0;
  margin: 0;
  line-height: 30px;
  overflow: hidden;
  display: inline-block;
}
.addsin .boxit a, .addsin .boxit .txts {
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: block;
}
.addsin .boxit .txts {
  width: 190px;
  height: 90px;
  line-height: 20px;
  color: #555555;
}
.addsin .boxit .txts strong {
  line-height: 30px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 160%;
  color: #333333;
}
.addsin .boxit .imga {
  max-width: 146px;
  padding: 10px;
  display: inline-block;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #eeeeee;
}
.addsin .boxit img {
  display: inline-block;
  background-color: white;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 100%;
}

.tdformat {
  background-position: center;
}

.tdformat.ifix3,
.tdformat.ifix2 {
  position: relative;
  height: 390px;
  background-position: center -10px;
  background-repeat: no-repeat;
  background-color: white;
}
.tdformat.ifix3 .tw,
.tdformat.ifix2 .tw {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin: 0 0;
  padding: 0 0 10px;
  line-height: 40px;
}
.tdformat.ifix3 .tw .bgh2,
.tdformat.ifix2 .tw .bgh2 {
  color: white;
  display: inline-block;
  background-color: rgba(40, 42, 43, 0.6);
  line-height: 36px;
  text-align: center;
  padding: 0 10px;
  margin: 4px auto;
}

.logo {
  background-color: transparent;
  display: block;
  overflow: hidden;
  width: 280px;
  margin: 20px auto 0;
}
.logo .logonod {
  max-width: 300px;
}
.logo .logonod img {
  width: 100%;
  display: block;
}

.backbody {
  width: 100%;
  text-align: center;
  display: block;
}

table {
  margin: 0 auto;
  width: 100%;
}

.noborder {
  border: 0;
}

.bgshadow {
  box-shadow: 0 4px 10px -4px rgba(44, 43, 50, 0.6);
}

.email-add {
  padding-top: 30px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 13px;
  background-color: rgba(240, 240, 240, 0.6);
  color: #999999;
  box-shadow: 0 4px 10px -4px rgba(44, 43, 50, 0.6);
}

.tblformat {
  /* BUTTONS INSIDE TABLE */
  margin-bottom: 24px;
}
.tblformat .buttons {
  padding: 16px 20px;
  text-align: center;
}
.tblformat .buttons .btn, .tblformat .buttons .btng {
  width: 100%;
  max-width: 280px;
  line-height: 44px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  display: inline-block;
  clear: both;
  background-color: #e2a32e;
  color: white;
  box-shadow: 0 10px 10px -10px rgba(44, 43, 50, 0.8);
  transition: 0.3s;
}

.main-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 4px 0;
  transition: 0.3s;
}

.content {
  margin: 10px auto 0;
  display: block;
  clear: both;
  overflow: hidden;
  padding: 6px 6px 6px;
}
.content img {
  width: 100%;
}

/* BUTTONS */
.buttons {
  padding: 0 20px;
  margin: 0 auto 12px;
  text-align: center;
  overflow: hidden;
}

.btn, .btng {
  width: 100%;
  max-width: 280px;
  line-height: 44px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  display: inline-block;
  clear: both;
  background-color: #d98882;
  color: white;
  box-shadow: 0 10px 10px -10px rgba(44, 43, 50, 0.8);
  transition: 0.3s;
}
.btn:hover, .btng:hover {
  background-color: #47a2d2;
  box-shadow: 0 6px 10px -4px rgba(44, 43, 50, 0.8);
}

.note {
  color: #666666;
  max-width: 600px;
  margin: 8px auto 20px;
  display: block;
  overflow: hidden;
  box-shadow: 0 4px 10px -4px rgba(44, 43, 50, 0.6);
}
.note h2 {
  color: #47a2d2;
  display: block;
  padding: 8px 4px;
}

.dual h2 {
  font-size: 1.2em;
  line-height: 22px;
}
.dual .fmed {
  font-size: 0.9em;
  line-height: 18px;
}

.cimg {
  display: block;
}

.reservas {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 14px;
}
.reservas a {
  max-width: 600px;
  overflow: hidden;
}
.reservas img {
  display: block;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 10px -4px rgba(44, 43, 50, 0.6);
}

.bgcoral {
  background-color: #d68e84;
}

.btng {
  max-width: 90%;
  background-color: white;
  color: #222222;
}
.btng:hover {
  background-color: #47a2d2;
  color: #f1f1f1;
}

.dual.btns h3 {
  padding: 10px;
}
.dual.btns .bgbw, .dual.btns .bgwb {
  min-width: 290px;
  height: 140px;
  display: inline-block;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
.dual.btns img {
  width: 26px;
  margin: 10px 0 0;
  padding: 0;
}
.dual.btns .bgbw {
  background-color: #282a2b;
  color: #fbfbfb;
  margin: 0 auto 4px;
}
.dual.btns .bgwb {
  background-color: white;
  color: #282a2b;
  margin: 0 auto 4px;
}
.dual.btns p {
  height: 100px;
  line-height: 20px;
  margin: 0;
}

.color1 {
  background-color: #92b970;
  border: 4px solid #92b970;
}
.color1 .icircle {
  color: #92b970;
}

.color2 {
  background-color: #d3bd76;
  border: 4px solid #d3bd76;
}
.color2 .icircle {
  color: #d3bd76;
}

.color3 {
  background-color: #7ab3a3;
  border: 4px solid #7ab3a3;
}
.color3 .icircle {
  color: #7ab3a3;
}

.color4 {
  background-color: #d68e84;
  border: 4px solid #d68e84;
}
.color4 .icircle {
  color: #d68e84;
}

.color5 {
  background-color: #bd9abd;
  border: 4px solid #bd9abd;
}
.color5 .icircle {
  color: #bd9abd;
}

.dual.lista {
  display: block;
}
.dual.lista .bnnl, .dual.lista .bnnr {
  width: 280px;
  min-width: 286px;
  max-width: 290px;
  height: 416px;
  display: inline-block;
  border-radius: 4px;
  margin: 4px auto 24px;
  vertical-align: middle;
  overflow: hidden;
}
.dual.lista img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0 auto 12px;
  padding: 0;
  display: block;
}
.dual.lista .insidecon {
  height: 246px;
  padding: 0;
  overflow: hidden;
  display: block;
  color: white;
}
.dual.lista .insidecon.tpads {
  padding: 0 10px;
}
.dual.lista .insidecon h3 {
  line-height: 24px;
  height: 48px;
  margin-bottom: 12px;
}
.dual.lista .insidecon .defh {
  line-height: 26px;
  height: 120px;
  margin-bottom: 16px;
}
.dual.lista .insidecon .defh strong {
  font-weight: bold;
}
.dual.lista .insidecon .items {
  display: block;
  border-radius: 30px;
  text-align: left;
  margin: 0 2% 12px;
}
.dual.lista .insidecon .items .iname {
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  color: white;
}
.dual.lista .insidecon .items .icircle {
  font-weight: bold;
  border-radius: 30px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: white;
}

.footer {
  padding: 0 6px 0;
  margin: 0 auto;
  display: block;
  max-width: 600px;
}
.footer .net {
  display: block;
  border-radius: 4px;
  text-align: right;
  padding: 0 10px;
  overflow: hidden;
}
.footer .net.bgody {
  background-color: #b93f40;
}
.footer .net.bgodx {
  background-color: #282a2b;
}

.icons {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px auto;
}
.icons img {
  width: 30px;
  height: 30px;
}

.footerl {
  max-width: 600px;
  color: #999999;
  margin: 10px auto 14px;
}
.footerl p {
  font-size: 12px;
  line-height: 18px;
  margin: 10px 10px 0;
  padding: 10px;
  text-align: justify;
}

.himg {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 24px;
}
.himg a img {
  width: 280px;
  vertical-align: middle;
  padding: 5px 0;
  display: inline-block;
  text-align: center !important;
}

.descuentos {
  color: white;
}

.rest {
  padding: 0;
  margin: 10px auto;
}
.rest .adds {
  display: block;
  width: 100%;
  margin: 4px auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.rest .adds span {
  padding: 0;
  width: 32%;
  overflow: hidden;
  margin: 4px 0.5%;
  border-radius: 4px;
}
.rest .adds a {
  overflow: hidden;
  margin: 0;
  border-radius: 4px;
}
.rest .adds img {
  margin-bottom: 14px;
  border: 0;
  border-radius: 4px;
  max-width: 31%;
  box-shadow: 0 4px 10px -4px rgba(44, 43, 50, 0.6);
}

.dual.col3 {
  width: 100%;
}
.dual.col3 h3 {
  padding: 10px;
}
.dual.col3 .bgw1, .dual.col3 .bgw2, .dual.col3 .bgw3 {
  display: inline-block;
  max-width: 32%;
  height: 100%;
  padding: 0 3%;
  overflow: hidden;
  margin: 0 auto 4px;
  border: 0;
  border-radius: 0;
}
.dual.col3 .imgcirl {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  border: 3px dashed #cccccc;
  border-radius: 100%;
  margin: 12% 0 10%;
  padding: 10%;
}
.dual.col3 img {
  width: 80%;
  padding: 0;
  border: 0;
  display: inline-block;
}
.dual.col3 p {
  height: 100px;
  font-size: 90%;
  line-height: 20px;
  margin: 0;
}

@media (max-width: 320px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  table {
    width: 100%;
    height: 100%;
  }

  .main-content {
    margin: 0 auto;
    padding: 10px 0;
    transition: 0.3s;
  }

  .dual.btns .bgbw, .dual.btns .bgwb {
    max-width: 100%;
  }

  .content {
    margin: 0 auto;
    display: block;
    clear: both;
    overflow: hidden;
  }
  .content img {
    width: 100%;
  }

  .bgcoral {
    background-color: #d68e84;
  }
  .bgcoral h2, .bgcoral p {
    padding: 0 8%;
    text-align: left;
    color: white;
  }

  .bgbtn .btn {
    background-color: white;
    color: #222222;
  }

  .dual.lista {
    width: 100%;
  }
  .dual.lista .bnnl, .dual.lista .bnnr {
    max-width: 280px;
  }

  .dual.col3 {
    width: 100%;
  }
  .dual.col3 p {
    background-color: red;
  }
  .dual.col3 .bgw1, .dual.col3 .bgw2, .dual.col3 .bgw3 {
    min-width: 290px;
  }

  .tdformat.ifix3 .bgw1, .tdformat.ifix3 .bgw2, .tdformat.ifix3 .bgw3 {
    min-width: 280px !important;
  }
}
