// COLOR
$pantone367u: #85c876
$pantone563u: #6cbaa7
$pantone522c: #ba92c3
$pantone7618u: #d98882
$pantone628u: #8ed3d5
$pantone727u: #d7a98b
$pantone7520u: #fbc4be
$pantone7751u: #ceb878
$pantone10u: #7d838a
$pantoneu: #2c2b32
$pantone428u: #abaaad
$pantonew: #ffffff
$pantonelg: #f0f0f0
$pantonemetal: #282a2b
$pantonegold: #e2a32e
$bl: #000
$txtboton: #1B9BB9
$bgmain: #F4A920
$top501: #E0A731
$top500: #209BA5
$nunet: #B93F40
$bannerll: #BD5125

$otherb: #47a2d2
$otherg: #666666

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: Raleway,Roboto,Droid,"Helvetica Neue",Helvetica,Arial,sans-serif
  line-height: 30px
  font-size: 1em
  font-weight: normal
  border: 0
  outline: 0 none
  text-align: center

body
  background-color: $pantonelg
  background-image: url(http://guiaoleowebassets.s3.amazonaws.com/newdixit/pattern.png)

ul, li
  list-style-type: none
a

  line-height: 0
  text-decoration: none

span, a
  font-family: inherit

input, textarea, select
  border: 1px solid $pantone428u

h2, h3, h4, h5
  padding: 0
  font-size: 1.6em

.invisibilita
  display: none

.oleo
  color: $pantone367u
.fwhite
  color: #fff

.bgwhite
  background-color: rgba($pantonew,.6)

.bguwhite
  background-color: #fff

.bgmetal
  background-color: $pantonemetal

.bglgray
  background-color: #EBEBEB

.icoral
  background-color: $pantone563u


.bg22c
  background-color: $pantone522c

.bg63u
  background-color: $pantone563u

// Font & boxes formats
.icenter
  text-align: center
.rounded
  border-radius: 4px

.tbold
  font-weight: bold

.fbig
  font-size: 24px !important

.fmed
  font-size: 14px !important

.fnormal
  font-size: 20px

.fsmall
  font-size: 13px

.tajust
  text-align: justify

.taleft
  text-align: left

.tpads
  padding: 10px
.nopads
  padding: 0
  line-height: 16px
.nopadstb
  padding: 0 4px
  line-height: 16px

.tmargs
  margin-top: 30px
  margin-bottom: 30px

.fxmed
  font-size: 100% !important
  line-height: 24px !important
  color: #fff
  max-width: 600px
  margin-top: 10px
  margin-left: auto
  margin-right: auto
  margin-bottom: 10px
.stores
  a
    text-align: center
    display: inline-block
    width: 38%
    max-width: 106px
    margin: 2%
  img
    display: block
    max-width: 106px

.tw
  color: $pantonew

.ifix1, .ifix2, .ifix3
  overflow: hidden
  padding: 0
  vertical-align: middle
  background-color: $pantoneu
  h2,p
    padding: 0 10%
    margin: 5% auto 0

.ifix1
  height: 400px
.ifix2
  height: 390px
  p
    margin: 0 auto

.addsin
  display: block
  width: 100%
  min-width: 280px
  margin: 0 0 10px
  padding: 20px 0 0 !important
  overflow: hidden
  text-align: center
  background-color: rgba($pantonew,.0)

  .boxit
    max-width: 190px
    padding: 0
    margin:  0
    line-height: 30px
    overflow: hidden
    display: inline-block
    a,.txts
      width: 100%
      overflow: hidden
      margin: 0
      display: block
    .txts
      width: 190px
      height: 90px
      line-height: 20px
      color: #555
      strong
        line-height: 30px
        margin-bottom: 0
        font-weight: bold
        font-size: 160%
        color: #333
    .imga
      max-width: 146px
      padding: 10px
      display: inline-block
      border-radius: 100px
      overflow: hidden

      border: 1px solid #eee
    img
      display: inline-block
      background-color: #fff
      width: 120px
      height: 120px
      line-height: 120px
      border-radius: 100%


.tdformat
  background-position: center
.tdformat.ifix3,
.tdformat.ifix2
  position: relative
  height: 390px

  background-position: center -10px
  background-repeat: no-repeat
  background-color: #fff
  .tw
    background-color: rgba($pantonew,.0)
    color: $pantonew
    margin: 0 0
    padding: 0 0 10px
    line-height: 40px
    .bgh2
      color: $pantonew
      display: inline-block
      background-color: rgba($pantonemetal,.6)
      line-height: 36px
      text-align: center
      padding: 0 10px
      margin: 4px auto
.logo
  background-color: rgba($bl,.0)
  display: block
  overflow: hidden
  width: 280px
  margin: 20px auto 0
  .logonod
    max-width: 300px
    img
      width: 100%
      display: block
.backbody
  width: 100%
  text-align: center
  display: block

table
  margin: 0 auto
  width: 100%

.noborder
  border: 0

.bgshadow
  box-shadow: 0 4px 10px -4px rgba($pantoneu, 0.6)

.email-add
  padding-top: 30px
  margin: 0 auto 10px
  text-align: center
  font-size: 13px
  background-color: rgba($pantonelg,.6)
  color: #999
  box-shadow: 0 4px 10px -4px rgba($pantoneu, 0.6)

.tblformat
  /* BUTTONS INSIDE TABLE
  margin-bottom: 24px
  .buttons
    padding: 16px 20px
    text-align: center
    .btn, .btng
      width: 100%
      max-width: 280px
      line-height: 44px
      border-radius: 4px
      border: 0
      padding: 0 8px
      display: inline-block
      clear: both
      background-color: $pantonegold
      color: $pantonew
      box-shadow: 0 10px 10px -10px rgba($pantoneu, 0.8)
      transition: .3s

.main-content
  max-width: 600px
  margin: 0 auto
  padding: 4px 0
  transition: .3s

.content
  margin: 10px auto 20px
  display: block
  clear: both
  overflow: hidden
  padding: 6px 6px 6px
  img
    width: 100%

/* BUTTONS
.buttons

  padding: 0 20px
  margin: 0 auto 12px
  text-align: center
  overflow: hidden
.btn, .btng
  width: 100%
  max-width: 280px
  line-height: 44px
  border-radius: 4px
  border: 0
  padding: 0 8px
  display: inline-block
  clear: both
  background-color: $pantone7618u
  color: $pantonew
  //box-shadow: 0 10px 10px -10px rgba($pantoneu, 0.8)
  transition: .3s
  &:hover
    background-color: $otherb
    //box-shadow: 0 6px 10px -4px rgba($pantoneu, 0.8)

.note
  color: $otherg
  max-width: 600px
  margin: 8px auto 20px
  display: block
  overflow: hidden
  box-shadow: 0 4px 10px -4px rgba($pantoneu, 0.6)
  h2
    color: $otherb
    display: block
    padding: 8px 4px

.dual
  h2
    font-size: 1.2em
    line-height: 22px
  .fmed
    font-size: .9em
    line-height: 18px

.cimg
  display: block

.reservas
  max-width: 600px
  margin: 0 auto
  padding: 0 0 14px
  a
    max-width: 600px
    overflow: hidden
  img
    display: block
    width: 100%
    border-radius: 4px
    box-shadow: 0 4px 10px -4px rgba($pantoneu, 0.6)

$color1: #92b970
$color2: #d3bd76
$color3: #7ab3a3
$color4: #d68e84
$color5: #bd9abd

.bgcoral
  background-color: $color4

.btng
  max-width: 90%
  background-color: #fff
  color: #222
  &:hover
    background-color: $otherb
    color: #f1f1f1

.dual.btns
  h3
    padding: 10px
  .bgbw,.bgwb
    min-width: 290px
    height: 140px
    display: inline-block
    //vertical-align: middle
    border: 1px solid #eee
    border-radius: 4px
  img
    width: 26px
    margin: 10px 0 0
    padding: 0
  .bgbw
    background-color: $pantonemetal
    color: #fbfbfb
    margin: 0 auto 4px
  .bgwb
    background-color: #fff
    color: $pantonemetal
    margin: 0 auto 4px
  p
    height: 100px
    line-height: 20px
    margin: 0



.color1
  background-color: $color1
  border: 4px solid $color1
  .icircle
    color: $color1
.color2
  background-color: $color2
  border: 4px solid $color2
  .icircle
    color: $color2
.color3
  background-color: $color3
  border: 4px solid $color3
  .icircle
    color: $color3
.color4
  background-color: $color4
  border: 4px solid $color4
  .icircle
    color: $color4
.color5
  background-color: $color5
  border: 4px solid $color5
  .icircle
    color: $color5

.dual.lista
  display: block
  .bnnl,.bnnr
    width: 280px
    min-width: 286px
    max-width: 290px
    height: 416px
    display: inline-block
    border-radius: 4px
    margin: 4px auto 24px
    vertical-align: middle
    overflow: hidden
  img
    border-radius: 4px 4px 0 0
    width: 100%
    margin: 0 auto 12px
    padding: 0
    display: block
  .insidecon
    height: 246px
    padding: 0
    overflow: hidden
    display: block
    color: #fff
    &.tpads
      padding: 0 10px
    h3
      line-height: 24px
      height: 48px
      margin-bottom: 12px
    .defh
      line-height: 26px
      height: 120px
      margin-bottom: 16px
      strong
        font-weight: bold
    .items
      display: block
      border-radius: 30px
      text-align: left
      margin: 0 2% 12px
      .iname
        font-weight: bold
        line-height: 30px
        height: 30px
        display: inline-block
        color: #fff
      .icircle
        font-weight: bold
        border-radius: 30px
        line-height: 30px
        height: 30px
        width: 30px
        display: inline-block
        background-color: #fff


.footer
  padding: 0 6px 0
  margin: 0 auto
  display: block
  max-width: 600px
  .net
    background-color: $pantonemetal
    display: block
    border-radius: 4px
    text-align: right
    padding: 0 10px
    overflow: hidden

.icons
  display: inline-block
  width: 30px
  height: 30px
  margin: 5px auto
  img
    width: 30px
    height: 30px

.footerl
  max-width: 600px
  color: #999
  margin: 10px auto 14px
  p
    font-size: 12px
    line-height: 18px
    margin: 10px 10px 0
    padding: 10px
    text-align: justify

.himg
  width: 100%
  max-width: 600px
  margin: 0 auto 24px
  a
    img
      width: 280px
      vertical-align: middle
      padding: 5px 0
      display: inline-block
      text-align: center !important

.rest
  padding: 0
  margin: 10px auto
  .adds
    display: block
    width: 100%
    margin: 4px auto
    padding: 0
    overflow: hidden
    text-align: center
    span
      padding: 0
      width: 32%
      overflow: hidden
      margin: 4px 0.5%
      border-radius: 4px
    a
      overflow: hidden
      margin: 0
      border-radius: 4px
    img
      margin-bottom: 14px
      border: 0
      border-radius: 4px
      max-width: 31%
      box-shadow: 0 4px 10px -4px rgba($pantoneu, 0.6)


.dual.col3
  width: 100%
  h3
    padding: 10px
  .bgw1,.bgw2,.bgw3
    display: inline-block
    max-width: 32%
    height: 100%
    padding: 0 3%
    overflow: hidden
    //vertical-align: middle

    margin: 0 auto 4px
    border: 0
    border-radius: 0
  .imgcirl
    display: inline-block
    width: 100%
    height: 100%
    max-width: 120px
    max-height: 120px
    border: 3px dashed #ccc
    border-radius: 100%
    margin: 12% 0 10%
    padding: 10%
  img
    width: 80%
    padding: 0
    border: 0
    display: inline-block
  p
    height: 100px
    font-size: 90%
    line-height: 20px
    margin: 0
@media (max-width: 320px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
  table
    width: 100%
    height: 100%

  .main-content
    margin: 0 auto
    padding: 10px 0
    transition: .3s

  .dual.btns
    .bgbw, .bgwb
      max-width: 100%

  .content
    margin: 0 auto
    display: block
    clear: both
    overflow: hidden
    img
      width: 100%

  .bgcoral
    background-color: $color4
    h2,p
      padding: 0 8%
      text-align: left
      color: #fff

  .bgbtn
    .btn
      background-color: #fff
      color: #222

  .dual.lista
    width: 100%
    .bnnl,.bnnr
      max-width: 280px

  .dual.col3
    width: 100%
    p
      background-color: red
    .bgw1,.bgw2,.bgw3
      min-width: 290px
  .tdformat.ifix3
    .bgw1,.bgw2,.bgw3
      min-width: 280px !important
